DataFactoryRaionDojo/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DataFactoryRaionDojo"
		},
		"AzureFunctionGymdeskSync_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'AzureFunctionGymdeskSync'"
		},
		"AzureSqlDatabase_PowerBI_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzureSqlDatabase_PowerBI'"
		},
		"BlobStoragePowerBI_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'BlobStoragePowerBI'"
		},
		"HttpSharePointService_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'HttpSharePointService'"
		},
		"AzureFunctionGymdeskSync_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://gymdesksync.azurewebsites.net"
		},
		"AzureSqlDatabase_PowerBI_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-svr-rd-1.database.windows.net"
		},
		"AzureSqlDatabase_PowerBI_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "PowerBI"
		},
		"AzureSqlDatabase_PowerBI_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "manuel.brunner"
		},
		"HttpSharePointService_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://mindrevolutiongmbh527.sharepoint.com/"
		},
		"HttpSharePointService_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "manuel.brunner@raion-dojo.ch"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureFunctionGymdeskSync')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to Azure Function",
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('AzureFunctionGymdeskSync_properties_typeProperties_functionAppUrl')]",
					"authentication": "Anonymous",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('AzureFunctionGymdeskSync_functionKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase_PowerBI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Data connection Azure Data Factory to SQL Server",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase_PowerBI_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase_PowerBI_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase_PowerBI_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzureSqlDatabase_PowerBI_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobStoragePowerBI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection Azure Blob Storage to Data Factory",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('BlobStoragePowerBI_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpSharePointService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to Sharepoint",
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpSharePointService_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('HttpSharePointService_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('HttpSharePointService_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSVFilesSource_Canceled')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStoragePowerBI",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV File Source"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "canceled.csv",
						"container": "powerbi-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "First Name",
						"type": "String"
					},
					{
						"name": "Last Name",
						"type": "String"
					},
					{
						"name": "Phone",
						"type": "String"
					},
					{
						"name": "2nd Phone",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "2nd Email",
						"type": "String"
					},
					{
						"name": "Date of birth",
						"type": "String"
					},
					{
						"name": "Age",
						"type": "String"
					},
					{
						"name": "Address",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Zip code",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Type",
						"type": "String"
					},
					{
						"name": "Membership",
						"type": "String"
					},
					{
						"name": "Membership 1",
						"type": "String"
					},
					{
						"name": "Membership 1 Start Date",
						"type": "String"
					},
					{
						"name": "Membership 1 End Date",
						"type": "String"
					},
					{
						"name": "Membership 1 Credits",
						"type": "String"
					},
					{
						"name": "Membership 2",
						"type": "String"
					},
					{
						"name": "Membership 2 Start Date",
						"type": "String"
					},
					{
						"name": "Membership 2 End Date",
						"type": "String"
					},
					{
						"name": "Membership 2 Credits",
						"type": "String"
					},
					{
						"name": "Membership 3",
						"type": "String"
					},
					{
						"name": "Membership 3 Start Date",
						"type": "String"
					},
					{
						"name": "Membership 3 End Date",
						"type": "String"
					},
					{
						"name": "Membership 3 Credits",
						"type": "String"
					},
					{
						"name": "Membership 4",
						"type": "String"
					},
					{
						"name": "Membership 4 Start Date",
						"type": "String"
					},
					{
						"name": "Membership 4 End Date",
						"type": "String"
					},
					{
						"name": "Membership 4 Credits",
						"type": "String"
					},
					{
						"name": "Contacts",
						"type": "String"
					},
					{
						"name": "Contacts 1",
						"type": "String"
					},
					{
						"name": "Contacts 1 Number",
						"type": "String"
					},
					{
						"name": "Contacts 2",
						"type": "String"
					},
					{
						"name": "Contacts 2 Number",
						"type": "String"
					},
					{
						"name": "Contacts 3",
						"type": "String"
					},
					{
						"name": "Contacts 3 Number",
						"type": "String"
					},
					{
						"name": "Status",
						"type": "String"
					},
					{
						"name": "Joined",
						"type": "String"
					},
					{
						"name": "Check-in code",
						"type": "String"
					},
					{
						"name": "Last Visit",
						"type": "String"
					},
					{
						"name": "Last Payment",
						"type": "String"
					},
					{
						"name": "Last Login",
						"type": "String"
					},
					{
						"name": "Notes",
						"type": "String"
					},
					{
						"name": "Ranks",
						"type": "String"
					},
					{
						"name": "Ranks 1",
						"type": "String"
					},
					{
						"name": "Ranks 1 Level",
						"type": "String"
					},
					{
						"name": "Ranks 1 Date",
						"type": "String"
					},
					{
						"name": "Ranks 2",
						"type": "String"
					},
					{
						"name": "Ranks 2 Level",
						"type": "String"
					},
					{
						"name": "Ranks 2 Date",
						"type": "String"
					},
					{
						"name": "Ranks 3",
						"type": "String"
					},
					{
						"name": "Ranks 3 Level",
						"type": "String"
					},
					{
						"name": "Ranks 3 Date",
						"type": "String"
					},
					{
						"name": "Ranks 4",
						"type": "String"
					},
					{
						"name": "Ranks 4 Level",
						"type": "String"
					},
					{
						"name": "Ranks 4 Date",
						"type": "String"
					},
					{
						"name": "Beruf",
						"type": "String"
					},
					{
						"name": "Erste Zahlung am:",
						"type": "String"
					},
					{
						"name": "Austritts Datum:",
						"type": "String"
					},
					{
						"name": "AHV-Nummer",
						"type": "String"
					},
					{
						"name": "Familien Account",
						"type": "String"
					},
					{
						"name": "Grund Kündigung",
						"type": "String"
					},
					{
						"name": "Start Pausierung",
						"type": "String"
					},
					{
						"name": "Ende Pausierung",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlobStoragePowerBI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSVFilesSource_Frozen')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStoragePowerBI",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV File Source"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "frozen.csv",
						"container": "powerbi-data"
					},
					"columnDelimiter": ",",
					"rowDelimiter": "\n",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlobStoragePowerBI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSVFilesSource_Members')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStoragePowerBI",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV File Source"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "members.csv",
						"container": "powerbi-data"
					},
					"columnDelimiter": ",",
					"rowDelimiter": "\n",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "First Name",
						"type": "String"
					},
					{
						"name": "Last Name",
						"type": "String"
					},
					{
						"name": "Phone",
						"type": "String"
					},
					{
						"name": "2nd Phone",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "2nd Email",
						"type": "String"
					},
					{
						"name": "Date of birth",
						"type": "String"
					},
					{
						"name": "Age",
						"type": "String"
					},
					{
						"name": "Address",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Zip code",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Type",
						"type": "String"
					},
					{
						"name": "Membership",
						"type": "String"
					},
					{
						"name": "Membership 1",
						"type": "String"
					},
					{
						"name": "Membership 1 Start Date",
						"type": "String"
					},
					{
						"name": "Membership 1 End Date",
						"type": "String"
					},
					{
						"name": "Membership 1 Credits",
						"type": "String"
					},
					{
						"name": "Membership 2",
						"type": "String"
					},
					{
						"name": "Membership 2 Start Date",
						"type": "String"
					},
					{
						"name": "Membership 2 End Date",
						"type": "String"
					},
					{
						"name": "Membership 2 Credits",
						"type": "String"
					},
					{
						"name": "Membership 3",
						"type": "String"
					},
					{
						"name": "Membership 3 Start Date",
						"type": "String"
					},
					{
						"name": "Membership 3 End Date",
						"type": "String"
					},
					{
						"name": "Membership 3 Credits",
						"type": "String"
					},
					{
						"name": "Membership 4",
						"type": "String"
					},
					{
						"name": "Membership 4 Start Date",
						"type": "String"
					},
					{
						"name": "Membership 4 End Date",
						"type": "String"
					},
					{
						"name": "Membership 4 Credits",
						"type": "String"
					},
					{
						"name": "Contacts",
						"type": "String"
					},
					{
						"name": "Contacts 1",
						"type": "String"
					},
					{
						"name": "Contacts 1 Number",
						"type": "String"
					},
					{
						"name": "Contacts 2",
						"type": "String"
					},
					{
						"name": "Contacts 2 Number",
						"type": "String"
					},
					{
						"name": "Contacts 3",
						"type": "String"
					},
					{
						"name": "Contacts 3 Number",
						"type": "String"
					},
					{
						"name": "Status",
						"type": "String"
					},
					{
						"name": "Joined",
						"type": "String"
					},
					{
						"name": "Check-in code",
						"type": "String"
					},
					{
						"name": "Last Visit",
						"type": "String"
					},
					{
						"name": "Last Payment",
						"type": "String"
					},
					{
						"name": "Last Login",
						"type": "String"
					},
					{
						"name": "Notes",
						"type": "String"
					},
					{
						"name": "Ranks",
						"type": "String"
					},
					{
						"name": "Ranks 1",
						"type": "String"
					},
					{
						"name": "Ranks 1 Level",
						"type": "String"
					},
					{
						"name": "Ranks 1 Date",
						"type": "String"
					},
					{
						"name": "Ranks 2",
						"type": "String"
					},
					{
						"name": "Ranks 2 Level",
						"type": "String"
					},
					{
						"name": "Ranks 2 Date",
						"type": "String"
					},
					{
						"name": "Ranks 3",
						"type": "String"
					},
					{
						"name": "Ranks 3 Level",
						"type": "String"
					},
					{
						"name": "Ranks 3 Date",
						"type": "String"
					},
					{
						"name": "Ranks 4",
						"type": "String"
					},
					{
						"name": "Ranks 4 Level",
						"type": "String"
					},
					{
						"name": "Ranks 4 Date",
						"type": "String"
					},
					{
						"name": "Beruf",
						"type": "String"
					},
					{
						"name": "Erste Zahlung am:",
						"type": "String"
					},
					{
						"name": "Austritts Datum:",
						"type": "String"
					},
					{
						"name": "AHV-Nummer",
						"type": "String"
					},
					{
						"name": "Familien Account",
						"type": "String"
					},
					{
						"name": "Grund Kündigung",
						"type": "String"
					},
					{
						"name": "Start Pausierung",
						"type": "String"
					},
					{
						"name": "Ende Pausierung",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlobStoragePowerBI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSVFilesSource_Visitors')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStoragePowerBI",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV File Source"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "visitors.csv",
						"container": "powerbi-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlobStoragePowerBI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLDatabaseSink_Canceled')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_PowerBI",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL Database Sink"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "First Name",
						"type": "nvarchar"
					},
					{
						"name": "Last Name",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					},
					{
						"name": "2nd Phone",
						"type": "nvarchar"
					},
					{
						"name": "Email",
						"type": "nvarchar"
					},
					{
						"name": "2nd Email",
						"type": "nvarchar"
					},
					{
						"name": "Date of birth",
						"type": "date"
					},
					{
						"name": "Age",
						"type": "nvarchar"
					},
					{
						"name": "Address",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Zip code",
						"type": "nvarchar"
					},
					{
						"name": "Gender",
						"type": "nvarchar"
					},
					{
						"name": "Membership",
						"type": "nvarchar"
					},
					{
						"name": "Membership 1",
						"type": "nvarchar"
					},
					{
						"name": "Membership 1 Start Date",
						"type": "nvarchar"
					},
					{
						"name": "Membership 1 End Date",
						"type": "nvarchar"
					},
					{
						"name": "Membership 1 Credits",
						"type": "nvarchar"
					},
					{
						"name": "Membership 2",
						"type": "nvarchar"
					},
					{
						"name": "Membership 2 Start Date",
						"type": "nvarchar"
					},
					{
						"name": "Membership 2 End Date",
						"type": "nvarchar"
					},
					{
						"name": "Membership 2 Credits",
						"type": "nvarchar"
					},
					{
						"name": "Membership 3",
						"type": "nvarchar"
					},
					{
						"name": "Membership 3 Start Date",
						"type": "nvarchar"
					},
					{
						"name": "Membership 3 End Date",
						"type": "nvarchar"
					},
					{
						"name": "Membership 3 Credits",
						"type": "nvarchar"
					},
					{
						"name": "Membership 4",
						"type": "nvarchar"
					},
					{
						"name": "Membership 4 Start Date",
						"type": "nvarchar"
					},
					{
						"name": "Membership 4 End Date",
						"type": "nvarchar"
					},
					{
						"name": "Membership 4 Credits",
						"type": "nvarchar"
					},
					{
						"name": "Contacts",
						"type": "nvarchar"
					},
					{
						"name": "Contacts 1",
						"type": "nvarchar"
					},
					{
						"name": "Contacts 1 Number",
						"type": "nvarchar"
					},
					{
						"name": "Contacts 2",
						"type": "nvarchar"
					},
					{
						"name": "Contacts 2 Number",
						"type": "nvarchar"
					},
					{
						"name": "Contacts 3",
						"type": "nvarchar"
					},
					{
						"name": "Contacts 3 Number",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "nvarchar"
					},
					{
						"name": "Joined",
						"type": "nvarchar"
					},
					{
						"name": "Check-in code",
						"type": "nvarchar"
					},
					{
						"name": "Last Visit",
						"type": "nvarchar"
					},
					{
						"name": "Last Payment",
						"type": "nvarchar"
					},
					{
						"name": "Last Login",
						"type": "nvarchar"
					},
					{
						"name": "Notes",
						"type": "nvarchar"
					},
					{
						"name": "Ranks",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 1",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 1 Level",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 1 Date",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 2",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 2 Level",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 2 Date",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 3",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 3 Level",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 3 Date",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 4",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 4 Level",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 4 Date",
						"type": "nvarchar"
					},
					{
						"name": "Beruf",
						"type": "nvarchar"
					},
					{
						"name": "Erste Zahlung am",
						"type": "nvarchar"
					},
					{
						"name": "Austritts Datum",
						"type": "nvarchar"
					},
					{
						"name": "AHV-Nummer",
						"type": "nvarchar"
					},
					{
						"name": "Familien Account",
						"type": "nvarchar"
					},
					{
						"name": "Grund Kündigung",
						"type": "nvarchar"
					},
					{
						"name": "Start Pausierung",
						"type": "nvarchar"
					},
					{
						"name": "Ende Pausierung",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "canceled"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase_PowerBI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLDatabaseSink_Frozen')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_PowerBI",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL Database Sink"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "First Name",
						"type": "nvarchar"
					},
					{
						"name": "Last Name",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					},
					{
						"name": "2nd Phone",
						"type": "nvarchar"
					},
					{
						"name": "Email",
						"type": "nvarchar"
					},
					{
						"name": "2nd Email",
						"type": "nvarchar"
					},
					{
						"name": "Date of birth",
						"type": "date"
					},
					{
						"name": "Age",
						"type": "nvarchar"
					},
					{
						"name": "Address",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Zip code",
						"type": "nvarchar"
					},
					{
						"name": "Gender",
						"type": "nvarchar"
					},
					{
						"name": "Membership",
						"type": "nvarchar"
					},
					{
						"name": "Membership 1",
						"type": "nvarchar"
					},
					{
						"name": "Membership 1 Start Date",
						"type": "nvarchar"
					},
					{
						"name": "Membership 1 End Date",
						"type": "nvarchar"
					},
					{
						"name": "Membership 1 Credits",
						"type": "nvarchar"
					},
					{
						"name": "Membership 2",
						"type": "nvarchar"
					},
					{
						"name": "Membership 2 Start Date",
						"type": "nvarchar"
					},
					{
						"name": "Membership 2 End Date",
						"type": "nvarchar"
					},
					{
						"name": "Membership 2 Credits",
						"type": "nvarchar"
					},
					{
						"name": "Membership 3",
						"type": "nvarchar"
					},
					{
						"name": "Membership 3 Start Date",
						"type": "nvarchar"
					},
					{
						"name": "Membership 3 End Date",
						"type": "nvarchar"
					},
					{
						"name": "Membership 3 Credits",
						"type": "nvarchar"
					},
					{
						"name": "Membership 4",
						"type": "nvarchar"
					},
					{
						"name": "Membership 4 Start Date",
						"type": "nvarchar"
					},
					{
						"name": "Membership 4 End Date",
						"type": "nvarchar"
					},
					{
						"name": "Membership 4 Credits",
						"type": "nvarchar"
					},
					{
						"name": "Contacts",
						"type": "nvarchar"
					},
					{
						"name": "Contacts 1",
						"type": "nvarchar"
					},
					{
						"name": "Contacts 1 Number",
						"type": "nvarchar"
					},
					{
						"name": "Contacts 2",
						"type": "nvarchar"
					},
					{
						"name": "Contacts 2 Number",
						"type": "nvarchar"
					},
					{
						"name": "Contacts 3",
						"type": "nvarchar"
					},
					{
						"name": "Contacts 3 Number",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "nvarchar"
					},
					{
						"name": "Joined",
						"type": "nvarchar"
					},
					{
						"name": "Check-in code",
						"type": "nvarchar"
					},
					{
						"name": "Last Visit",
						"type": "nvarchar"
					},
					{
						"name": "Last Payment",
						"type": "nvarchar"
					},
					{
						"name": "Last Login",
						"type": "nvarchar"
					},
					{
						"name": "Notes",
						"type": "nvarchar"
					},
					{
						"name": "Ranks",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 1",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 1 Level",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 1 Date",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 2",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 2 Level",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 2 Date",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 3",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 3 Level",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 3 Date",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 4",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 4 Level",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 4 Date",
						"type": "nvarchar"
					},
					{
						"name": "Beruf",
						"type": "nvarchar"
					},
					{
						"name": "Erste Zahlung am",
						"type": "nvarchar"
					},
					{
						"name": "Austritts Datum",
						"type": "nvarchar"
					},
					{
						"name": "AHV-Nummer",
						"type": "nvarchar"
					},
					{
						"name": "Familien Account",
						"type": "nvarchar"
					},
					{
						"name": "Grund Kündigung",
						"type": "nvarchar"
					},
					{
						"name": "Start Pausierung",
						"type": "nvarchar"
					},
					{
						"name": "Ende Pausierung",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "frozen"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase_PowerBI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLDatabaseSink_Members')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_PowerBI",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL Database Sink"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "First Name",
						"type": "nvarchar"
					},
					{
						"name": "Last Name",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					},
					{
						"name": "2nd Phone",
						"type": "nvarchar"
					},
					{
						"name": "Email",
						"type": "nvarchar"
					},
					{
						"name": "2nd Email",
						"type": "nvarchar"
					},
					{
						"name": "Date of birth",
						"type": "date"
					},
					{
						"name": "Age",
						"type": "nvarchar"
					},
					{
						"name": "Address",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Zip code",
						"type": "nvarchar"
					},
					{
						"name": "Gender",
						"type": "nvarchar"
					},
					{
						"name": "Membership",
						"type": "nvarchar"
					},
					{
						"name": "Membership 1",
						"type": "nvarchar"
					},
					{
						"name": "Membership 1 Start Date",
						"type": "date"
					},
					{
						"name": "Membership 1 End Date",
						"type": "date"
					},
					{
						"name": "Membership 1 Credits",
						"type": "nvarchar"
					},
					{
						"name": "Membership 2",
						"type": "nvarchar"
					},
					{
						"name": "Membership 2 Start Date",
						"type": "date"
					},
					{
						"name": "Membership 2 End Date",
						"type": "date"
					},
					{
						"name": "Membership 2 Credits",
						"type": "nvarchar"
					},
					{
						"name": "Membership 3",
						"type": "nvarchar"
					},
					{
						"name": "Membership 3 Start Date",
						"type": "date"
					},
					{
						"name": "Membership 3 End Date",
						"type": "date"
					},
					{
						"name": "Membership 3 Credits",
						"type": "nvarchar"
					},
					{
						"name": "Membership 4",
						"type": "nvarchar"
					},
					{
						"name": "Membership 4 Start Date",
						"type": "date"
					},
					{
						"name": "Membership 4 End Date",
						"type": "date"
					},
					{
						"name": "Membership 4 Credits",
						"type": "nvarchar"
					},
					{
						"name": "Contacts",
						"type": "nvarchar"
					},
					{
						"name": "Contacts 1",
						"type": "nvarchar"
					},
					{
						"name": "Contacts 1 Number",
						"type": "nvarchar"
					},
					{
						"name": "Contacts 2",
						"type": "nvarchar"
					},
					{
						"name": "Contacts 2 Number",
						"type": "nvarchar"
					},
					{
						"name": "Contacts 3",
						"type": "nvarchar"
					},
					{
						"name": "Contacts 3 Number",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "nvarchar"
					},
					{
						"name": "Joined",
						"type": "date"
					},
					{
						"name": "Check-in code",
						"type": "nvarchar"
					},
					{
						"name": "Last Visit",
						"type": "date"
					},
					{
						"name": "Last Payment",
						"type": "nvarchar"
					},
					{
						"name": "Last Login",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Notes",
						"type": "nvarchar"
					},
					{
						"name": "Ranks",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 1",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 1 Level",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 1 Date",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 2",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 2 Level",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 2 Date",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 3",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 3 Level",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 3 Date",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 4",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 4 Level",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 4 Date",
						"type": "nvarchar"
					},
					{
						"name": "Beruf",
						"type": "nvarchar"
					},
					{
						"name": "Erste Zahlung am",
						"type": "date"
					},
					{
						"name": "Austritts Datum",
						"type": "date"
					},
					{
						"name": "AHV-Nummer",
						"type": "nvarchar"
					},
					{
						"name": "Familien Account",
						"type": "nvarchar"
					},
					{
						"name": "Grund Kündigung",
						"type": "nvarchar"
					},
					{
						"name": "Start Pausierung",
						"type": "nvarchar"
					},
					{
						"name": "Ende Pausierung",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "members"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase_PowerBI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLDatabaseSink_Visitors')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_PowerBI",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL Database Sink"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "First Name",
						"type": "nvarchar"
					},
					{
						"name": "Last Name",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					},
					{
						"name": "2nd Phone",
						"type": "nvarchar"
					},
					{
						"name": "Email",
						"type": "nvarchar"
					},
					{
						"name": "2nd Email",
						"type": "nvarchar"
					},
					{
						"name": "Date of birth",
						"type": "date"
					},
					{
						"name": "Age",
						"type": "nvarchar"
					},
					{
						"name": "Address",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Zip code",
						"type": "nvarchar"
					},
					{
						"name": "Gender",
						"type": "nvarchar"
					},
					{
						"name": "Membership",
						"type": "nvarchar"
					},
					{
						"name": "Membership 1",
						"type": "nvarchar"
					},
					{
						"name": "Membership 1 Start Date",
						"type": "nvarchar"
					},
					{
						"name": "Membership 1 End Date",
						"type": "nvarchar"
					},
					{
						"name": "Membership 1 Credits",
						"type": "nvarchar"
					},
					{
						"name": "Membership 2",
						"type": "nvarchar"
					},
					{
						"name": "Membership 2 Start Date",
						"type": "nvarchar"
					},
					{
						"name": "Membership 2 End Date",
						"type": "nvarchar"
					},
					{
						"name": "Membership 2 Credits",
						"type": "nvarchar"
					},
					{
						"name": "Membership 3",
						"type": "nvarchar"
					},
					{
						"name": "Membership 3 Start Date",
						"type": "nvarchar"
					},
					{
						"name": "Membership 3 End Date",
						"type": "nvarchar"
					},
					{
						"name": "Membership 3 Credits",
						"type": "nvarchar"
					},
					{
						"name": "Membership 4",
						"type": "nvarchar"
					},
					{
						"name": "Membership 4 Start Date",
						"type": "nvarchar"
					},
					{
						"name": "Membership 4 End Date",
						"type": "nvarchar"
					},
					{
						"name": "Membership 4 Credits",
						"type": "nvarchar"
					},
					{
						"name": "Contacts",
						"type": "nvarchar"
					},
					{
						"name": "Contacts 1",
						"type": "nvarchar"
					},
					{
						"name": "Contacts 1 Number",
						"type": "nvarchar"
					},
					{
						"name": "Contacts 2",
						"type": "nvarchar"
					},
					{
						"name": "Contacts 2 Number",
						"type": "nvarchar"
					},
					{
						"name": "Contacts 3",
						"type": "nvarchar"
					},
					{
						"name": "Contacts 3 Number",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "nvarchar"
					},
					{
						"name": "Joined",
						"type": "nvarchar"
					},
					{
						"name": "Check-in code",
						"type": "nvarchar"
					},
					{
						"name": "Last Visit",
						"type": "nvarchar"
					},
					{
						"name": "Last Payment",
						"type": "nvarchar"
					},
					{
						"name": "Last Login",
						"type": "nvarchar"
					},
					{
						"name": "Notes",
						"type": "nvarchar"
					},
					{
						"name": "Ranks",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 1",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 1 Level",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 1 Date",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 2",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 2 Level",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 2 Date",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 3",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 3 Level",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 3 Date",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 4",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 4 Level",
						"type": "nvarchar"
					},
					{
						"name": "Ranks 4 Date",
						"type": "nvarchar"
					},
					{
						"name": "Beruf",
						"type": "nvarchar"
					},
					{
						"name": "Erste Zahlung am",
						"type": "nvarchar"
					},
					{
						"name": "Austritts Datum",
						"type": "nvarchar"
					},
					{
						"name": "AHV-Nummer",
						"type": "nvarchar"
					},
					{
						"name": "Familien Account",
						"type": "nvarchar"
					},
					{
						"name": "Grund Kündigung",
						"type": "nvarchar"
					},
					{
						"name": "Start Pausierung",
						"type": "nvarchar"
					},
					{
						"name": "Ende Pausierung",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "visitors"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase_PowerBI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataToDBFlow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "CSVFilesSource_Members",
								"type": "DatasetReference"
							},
							"name": "SourceMembers"
						},
						{
							"dataset": {
								"referenceName": "CSVFilesSource_Visitors",
								"type": "DatasetReference"
							},
							"name": "SourceVisitors"
						},
						{
							"dataset": {
								"referenceName": "CSVFilesSource_Canceled",
								"type": "DatasetReference"
							},
							"name": "SourceCanceled"
						},
						{
							"dataset": {
								"referenceName": "CSVFilesSource_Frozen",
								"type": "DatasetReference"
							},
							"name": "SourceFrozen"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SQLDatabaseSink_Members",
								"type": "DatasetReference"
							},
							"name": "TableMembers"
						},
						{
							"dataset": {
								"referenceName": "SQLDatabaseSink_Visitors",
								"type": "DatasetReference"
							},
							"name": "TableVisitors"
						},
						{
							"dataset": {
								"referenceName": "SQLDatabaseSink_Canceled",
								"type": "DatasetReference"
							},
							"name": "TableCanceled"
						},
						{
							"dataset": {
								"referenceName": "SQLDatabaseSink_Frozen",
								"type": "DatasetReference"
							},
							"name": "TableFrozen"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          {First Name} as string,",
						"          {Last Name} as string,",
						"          Phone as string,",
						"          {2nd Phone} as string,",
						"          Email as string,",
						"          {2nd Email} as string,",
						"          {Date of Birth} as date 'dd/MM/yyyy',",
						"          Age as string,",
						"          Address as string,",
						"          City as string,",
						"          State as string,",
						"          Country as string,",
						"          {Zip code} as string,",
						"          Gender as string,",
						"          Type as string,",
						"          Membership as string,",
						"          {Membership 1} as string,",
						"          {Membership 1 Start Date} as date 'dd/MM/yyyy',",
						"          {Membership 1 End Date} as date 'dd/MM/yyyy',",
						"          {Membership 1 Credits} as string,",
						"          {Membership 2} as string,",
						"          {Membership 2 Start Date} as date 'dd/MM/yyyy',",
						"          {Membership 2 End Date} as date 'dd/MM/yyyy',",
						"          {Membership 2 Credits} as string,",
						"          {Membership 3} as string,",
						"          {Membership 3 Start Date} as date 'dd/MM/yyyy',",
						"          {Membership 3 End Date} as date 'dd/MM/yyyy',",
						"          {Membership 3 Credits} as string,",
						"          {Membership 4} as string,",
						"          {Membership 4 Start Date} as date 'dd/MM/yyyy',",
						"          {Membership 4 End Date} as date 'dd/MM/yyyy',",
						"          {Membership 4 Credits} as string,",
						"          Contacts as string,",
						"          {Contacts 1} as string,",
						"          {Contacts 1 Number} as string,",
						"          {Contacts 2} as string,",
						"          {Contacts 2 Number} as string,",
						"          {Contacts 3} as string,",
						"          {Contacts 3 Number} as string,",
						"          Status as string,",
						"          Joined as string,",
						"          {Check-in code} as integer,",
						"          {Last Visit} as string,",
						"          {Last Payment} as string,",
						"          {Last Login} as string,",
						"          Notes as string,",
						"          Ranks as string,",
						"          {Ranks 1} as string,",
						"          {Ranks 1 Level} as string,",
						"          {Ranks 1 Date} as string,",
						"          {Ranks 2} as string,",
						"          {Ranks 2 Level} as string,",
						"          {Ranks 2 Date} as string,",
						"          {Ranks 3} as string,",
						"          {Ranks 3 Level} as string,",
						"          {Ranks 3 Date} as string,",
						"          {Ranks 4} as string,",
						"          {Ranks 4 Level} as string,",
						"          {Ranks 4 Date} as string,",
						"          Beruf as string,",
						"          {Erste Zahlung am:} as string,",
						"          {Austritts Datum:} as string,",
						"          {AHV-Nummer} as string,",
						"          {Familien Account} as string,",
						"          {Grund Kündigung} as string,",
						"          {Start Pausierung} as string,",
						"          {Ende Pausierung} as string",
						"     ),",
						"     allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     multiLineRow: true) ~> SourceMembers",
						"source(output(",
						"          {First Name} as string,",
						"          {Last Name} as string,",
						"          Phone as string,",
						"          {2nd Phone} as string,",
						"          Email as string,",
						"          {2nd Email} as string,",
						"          {Date of Birth} as date 'dd/MM/yyyy',",
						"          Age as short,",
						"          Address as string,",
						"          City as string,",
						"          State as string,",
						"          Country as string,",
						"          {Zip code} as string,",
						"          Gender as string,",
						"          Type as string,",
						"          Membership as string,",
						"          {Membership 1} as string,",
						"          {Membership 1 Start Date} as date 'dd/MM/yyyy',",
						"          {Membership 1 End Date} as date 'dd/MM/yyyy',",
						"          {Membership 1 Credits} as string,",
						"          {Membership 2} as string,",
						"          {Membership 2 Start Date} as date 'dd/MM/yyyy',",
						"          {Membership 2 End Date} as date 'dd/MM/yyyy',",
						"          {Membership 2 Credits} as string,",
						"          {Membership 3} as string,",
						"          {Membership 3 Start Date} as date 'dd/MM/yyyy',",
						"          {Membership 3 End Date} as date 'dd/MM/yyyy',",
						"          {Membership 3 Credits} as string,",
						"          {Membership 4} as string,",
						"          {Membership 4 Start Date} as date 'dd/MM/yyyy',",
						"          {Membership 4 End Date} as date 'dd/MM/yyyy',",
						"          {Membership 4 Credits} as string,",
						"          Contacts as string,",
						"          {Contacts 1} as string,",
						"          {Contacts 1 Number} as string,",
						"          {Contacts 2} as string,",
						"          {Contacts 2 Number} as string,",
						"          {Contacts 3} as string,",
						"          {Contacts 3 Number} as string,",
						"          Status as string,",
						"          Joined as string,",
						"          {Check-in code} as string,",
						"          {Last Visit} as string,",
						"          {Last Payment} as string,",
						"          {Last Login} as timestamp 'dd/MM/yyyy HH:mm:ss',",
						"          Notes as string,",
						"          Ranks as string,",
						"          {Ranks 1} as string,",
						"          {Ranks 1 Level} as string,",
						"          {Ranks 1 Date} as string,",
						"          {Ranks 2} as string,",
						"          {Ranks 2 Level} as string,",
						"          {Ranks 2 Date} as string,",
						"          {Ranks 3} as string,",
						"          {Ranks 3 Level} as string,",
						"          {Ranks 3 Date} as string,",
						"          {Ranks 4} as string,",
						"          {Ranks 4 Level} as string,",
						"          {Ranks 4 Date} as string,",
						"          Beruf as string,",
						"          {Erste Zahlung am:} as string,",
						"          {Austritts Datum:} as string,",
						"          {AHV-Nummer} as string,",
						"          {Familien Account} as string,",
						"          {Grund Kündigung} as string,",
						"          {Start Pausierung} as string,",
						"          {Ende Pausierung} as string",
						"     ),",
						"     allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     multiLineRow: true) ~> SourceVisitors",
						"source(output(",
						"          {First Name} as string,",
						"          {Last Name} as string,",
						"          Phone as string,",
						"          {2nd Phone} as string,",
						"          Email as string,",
						"          {2nd Email} as string,",
						"          {Date of Birth} as date 'dd/MM/yyyy',",
						"          Age as string,",
						"          Address as string,",
						"          City as string,",
						"          State as string,",
						"          Country as string,",
						"          {Zip code} as string,",
						"          Gender as string,",
						"          Type as string,",
						"          Membership as string,",
						"          {Membership 1} as string,",
						"          {Membership 1 Start Date} as date 'dd/MM/yyyy',",
						"          {Membership 1 End Date} as date 'dd/MM/yyyy',",
						"          {Membership 1 Credits} as string,",
						"          {Membership 2} as string,",
						"          {Membership 2 Start Date} as date 'dd/MM/yyyy',",
						"          {Membership 2 End Date} as date 'dd/MM/yyyy',",
						"          {Membership 2 Credits} as string,",
						"          {Membership 3} as string,",
						"          {Membership 3 Start Date} as date 'dd/MM/yyyy',",
						"          {Membership 3 End Date} as date 'dd/MM/yyyy',",
						"          {Membership 3 Credits} as string,",
						"          {Membership 4} as string,",
						"          {Membership 4 Start Date} as date 'dd/MM/yyyy',",
						"          {Membership 4 End Date} as date 'dd/MM/yyyy',",
						"          {Membership 4 Credits} as string,",
						"          Contacts as string,",
						"          {Contacts 1} as string,",
						"          {Contacts 1 Number} as string,",
						"          {Contacts 2} as string,",
						"          {Contacts 2 Number} as string,",
						"          {Contacts 3} as string,",
						"          {Contacts 3 Number} as string,",
						"          Status as string,",
						"          Joined as string,",
						"          {Check-in code} as string,",
						"          {Last Visit} as string,",
						"          {Last Payment} as string,",
						"          {Last Login} as string,",
						"          Notes as string,",
						"          Ranks as string,",
						"          {Ranks 1} as string,",
						"          {Ranks 1 Level} as string,",
						"          {Ranks 1 Date} as string,",
						"          {Ranks 2} as string,",
						"          {Ranks 2 Level} as string,",
						"          {Ranks 2 Date} as string,",
						"          {Ranks 3} as string,",
						"          {Ranks 3 Level} as string,",
						"          {Ranks 3 Date} as string,",
						"          {Ranks 4} as string,",
						"          {Ranks 4 Level} as string,",
						"          {Ranks 4 Date} as string,",
						"          Beruf as string,",
						"          {Erste Zahlung am:} as string,",
						"          {Austritts Datum:} as string,",
						"          {AHV-Nummer} as string,",
						"          {Familien Account} as string,",
						"          {Grund Kündigung} as string,",
						"          {Start Pausierung} as string,",
						"          {Ende Pausierung} as string",
						"     ),",
						"     allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     multiLineRow: true) ~> SourceCanceled",
						"source(output(",
						"          {First Name} as string,",
						"          {Last Name} as string,",
						"          Phone as string,",
						"          {2nd Phone} as string,",
						"          Email as string,",
						"          {2nd Email} as string,",
						"          {Date of Birth} as date 'dd/MM/yyyy',",
						"          Age as string,",
						"          Address as string,",
						"          City as string,",
						"          State as string,",
						"          Country as string,",
						"          {Zip code} as string,",
						"          Gender as string,",
						"          Type as string,",
						"          Membership as string,",
						"          {Membership 1} as string,",
						"          {Membership 1 Start Date} as date 'dd/MM/yyyy',",
						"          {Membership 1 End Date} as date 'dd/MM/yyyy',",
						"          {Membership 1 Credits} as string,",
						"          {Membership 2} as string,",
						"          {Membership 2 Start Date} as date 'dd/MM/yyyy',",
						"          {Membership 2 End Date} as date 'dd/MM/yyyy',",
						"          {Membership 2 Credits} as string,",
						"          {Membership 3} as string,",
						"          {Membership 3 Start Date} as date 'dd/MM/yyyy',",
						"          {Membership 3 End Date} as date 'dd/MM/yyyy',",
						"          {Membership 3 Credits} as string,",
						"          {Membership 4} as string,",
						"          {Membership 4 Start Date} as date 'dd/MM/yyyy',",
						"          {Membership 4 End Date} as date 'dd/MM/yyyy',",
						"          {Membership 4 Credits} as string,",
						"          Contacts as string,",
						"          {Contacts 1} as string,",
						"          {Contacts 1 Number} as string,",
						"          {Contacts 2} as string,",
						"          {Contacts 2 Number} as string,",
						"          {Contacts 3} as string,",
						"          {Contacts 3 Number} as string,",
						"          Status as string,",
						"          Joined as string,",
						"          {Check-in code} as string,",
						"          {Last Visit} as string,",
						"          {Last Payment} as string,",
						"          {Last Login} as string,",
						"          Notes as string,",
						"          Ranks as string,",
						"          {Ranks 1} as string,",
						"          {Ranks 1 Level} as string,",
						"          {Ranks 1 Date} as string,",
						"          {Ranks 2} as string,",
						"          {Ranks 2 Level} as string,",
						"          {Ranks 2 Date} as string,",
						"          {Ranks 3} as string,",
						"          {Ranks 3 Level} as string,",
						"          {Ranks 3 Date} as string,",
						"          {Ranks 4} as string,",
						"          {Ranks 4 Level} as string,",
						"          {Ranks 4 Date} as string,",
						"          Beruf as string,",
						"          {Erste Zahlung am:} as string,",
						"          {Austritts Datum:} as string,",
						"          {AHV-Nummer} as string,",
						"          {Familien Account} as string,",
						"          {Grund Kündigung} as string,",
						"          {Start Pausierung} as string,",
						"          {Ende Pausierung} as string",
						"     ),",
						"     allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     multiLineRow: true) ~> SourceFrozen",
						"SourceMembers sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ID as integer,",
						"          {First Name} as string,",
						"          {Last Name} as string,",
						"          Phone as string,",
						"          {2nd Phone} as string,",
						"          Email as string,",
						"          {2nd Email} as string,",
						"          {Date of birth} as date,",
						"          Age as string,",
						"          Address as string,",
						"          City as string,",
						"          State as string,",
						"          Country as string,",
						"          {Zip code} as string,",
						"          Gender as string,",
						"          Membership as string,",
						"          {Membership 1} as string,",
						"          {Membership 1 Start Date} as date,",
						"          {Membership 1 End Date} as date,",
						"          {Membership 1 Credits} as string,",
						"          {Membership 2} as string,",
						"          {Membership 2 Start Date} as date,",
						"          {Membership 2 End Date} as date,",
						"          {Membership 2 Credits} as string,",
						"          {Membership 3} as string,",
						"          {Membership 3 Start Date} as date,",
						"          {Membership 3 End Date} as date,",
						"          {Membership 3 Credits} as string,",
						"          {Membership 4} as string,",
						"          {Membership 4 Start Date} as date,",
						"          {Membership 4 End Date} as date,",
						"          {Membership 4 Credits} as string,",
						"          Contacts as string,",
						"          {Contacts 1} as string,",
						"          {Contacts 1 Number} as string,",
						"          {Contacts 2} as string,",
						"          {Contacts 2 Number} as string,",
						"          {Contacts 3} as string,",
						"          {Contacts 3 Number} as string,",
						"          Status as string,",
						"          Joined as date,",
						"          {Check-in code} as string,",
						"          {Last Visit} as date,",
						"          {Last Payment} as string,",
						"          {Last Login} as timestamp,",
						"          Notes as string,",
						"          Ranks as string,",
						"          {Ranks 1} as string,",
						"          {Ranks 1 Level} as string,",
						"          {Ranks 1 Date} as string,",
						"          {Ranks 2} as string,",
						"          {Ranks 2 Level} as string,",
						"          {Ranks 2 Date} as string,",
						"          {Ranks 3} as string,",
						"          {Ranks 3 Level} as string,",
						"          {Ranks 3 Date} as string,",
						"          {Ranks 4} as string,",
						"          {Ranks 4 Level} as string,",
						"          {Ranks 4 Date} as string,",
						"          Beruf as string,",
						"          {Erste Zahlung am} as date,",
						"          {Austritts Datum} as date,",
						"          {AHV-Nummer} as string,",
						"          {Familien Account} as string,",
						"          {Grund Kündigung} as string,",
						"          {Start Pausierung} as string,",
						"          {Ende Pausierung} as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     preSQLs:['TRUNCATE TABLE dbo.members;'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> TableMembers",
						"SourceVisitors sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ID as integer,",
						"          {First Name} as string,",
						"          {Last Name} as string,",
						"          Phone as string,",
						"          {2nd Phone} as string,",
						"          Email as string,",
						"          {2nd Email} as string,",
						"          {Date of birth} as date,",
						"          Age as string,",
						"          Address as string,",
						"          City as string,",
						"          State as string,",
						"          Country as string,",
						"          {Zip code} as string,",
						"          Gender as string,",
						"          Membership as string,",
						"          {Membership 1} as string,",
						"          {Membership 1 Start Date} as string,",
						"          {Membership 1 End Date} as string,",
						"          {Membership 1 Credits} as string,",
						"          {Membership 2} as string,",
						"          {Membership 2 Start Date} as string,",
						"          {Membership 2 End Date} as string,",
						"          {Membership 2 Credits} as string,",
						"          {Membership 3} as string,",
						"          {Membership 3 Start Date} as string,",
						"          {Membership 3 End Date} as string,",
						"          {Membership 3 Credits} as string,",
						"          {Membership 4} as string,",
						"          {Membership 4 Start Date} as string,",
						"          {Membership 4 End Date} as string,",
						"          {Membership 4 Credits} as string,",
						"          Contacts as string,",
						"          {Contacts 1} as string,",
						"          {Contacts 1 Number} as string,",
						"          {Contacts 2} as string,",
						"          {Contacts 2 Number} as string,",
						"          {Contacts 3} as string,",
						"          {Contacts 3 Number} as string,",
						"          Status as string,",
						"          Joined as string,",
						"          {Check-in code} as string,",
						"          {Last Visit} as string,",
						"          {Last Payment} as string,",
						"          {Last Login} as string,",
						"          Notes as string,",
						"          Ranks as string,",
						"          {Ranks 1} as string,",
						"          {Ranks 1 Level} as string,",
						"          {Ranks 1 Date} as string,",
						"          {Ranks 2} as string,",
						"          {Ranks 2 Level} as string,",
						"          {Ranks 2 Date} as string,",
						"          {Ranks 3} as string,",
						"          {Ranks 3 Level} as string,",
						"          {Ranks 3 Date} as string,",
						"          {Ranks 4} as string,",
						"          {Ranks 4 Level} as string,",
						"          {Ranks 4 Date} as string,",
						"          Beruf as string,",
						"          {Erste Zahlung am} as string,",
						"          {Austritts Datum} as string,",
						"          {AHV-Nummer} as string,",
						"          {Familien Account} as string,",
						"          {Grund Kündigung} as string,",
						"          {Start Pausierung} as string,",
						"          {Ende Pausierung} as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     preSQLs:['TRUNCATE TABLE dbo.visitors;'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> TableVisitors",
						"SourceCanceled sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ID as integer,",
						"          {First Name} as string,",
						"          {Last Name} as string,",
						"          Phone as string,",
						"          {2nd Phone} as string,",
						"          Email as string,",
						"          {2nd Email} as string,",
						"          {Date of birth} as date,",
						"          Age as string,",
						"          Address as string,",
						"          City as string,",
						"          State as string,",
						"          Country as string,",
						"          {Zip code} as string,",
						"          Gender as string,",
						"          Membership as string,",
						"          {Membership 1} as string,",
						"          {Membership 1 Start Date} as string,",
						"          {Membership 1 End Date} as string,",
						"          {Membership 1 Credits} as string,",
						"          {Membership 2} as string,",
						"          {Membership 2 Start Date} as string,",
						"          {Membership 2 End Date} as string,",
						"          {Membership 2 Credits} as string,",
						"          {Membership 3} as string,",
						"          {Membership 3 Start Date} as string,",
						"          {Membership 3 End Date} as string,",
						"          {Membership 3 Credits} as string,",
						"          {Membership 4} as string,",
						"          {Membership 4 Start Date} as string,",
						"          {Membership 4 End Date} as string,",
						"          {Membership 4 Credits} as string,",
						"          Contacts as string,",
						"          {Contacts 1} as string,",
						"          {Contacts 1 Number} as string,",
						"          {Contacts 2} as string,",
						"          {Contacts 2 Number} as string,",
						"          {Contacts 3} as string,",
						"          {Contacts 3 Number} as string,",
						"          Status as string,",
						"          Joined as string,",
						"          {Check-in code} as string,",
						"          {Last Visit} as string,",
						"          {Last Payment} as string,",
						"          {Last Login} as string,",
						"          Notes as string,",
						"          Ranks as string,",
						"          {Ranks 1} as string,",
						"          {Ranks 1 Level} as string,",
						"          {Ranks 1 Date} as string,",
						"          {Ranks 2} as string,",
						"          {Ranks 2 Level} as string,",
						"          {Ranks 2 Date} as string,",
						"          {Ranks 3} as string,",
						"          {Ranks 3 Level} as string,",
						"          {Ranks 3 Date} as string,",
						"          {Ranks 4} as string,",
						"          {Ranks 4 Level} as string,",
						"          {Ranks 4 Date} as string,",
						"          Beruf as string,",
						"          {Erste Zahlung am} as string,",
						"          {Austritts Datum} as string,",
						"          {AHV-Nummer} as string,",
						"          {Familien Account} as string,",
						"          {Grund Kündigung} as string,",
						"          {Start Pausierung} as string,",
						"          {Ende Pausierung} as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     preSQLs:['TRUNCATE TABLE dbo.canceled;'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> TableCanceled",
						"SourceFrozen sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ID as integer,",
						"          {First Name} as string,",
						"          {Last Name} as string,",
						"          Phone as string,",
						"          {2nd Phone} as string,",
						"          Email as string,",
						"          {2nd Email} as string,",
						"          {Date of birth} as date,",
						"          Age as string,",
						"          Address as string,",
						"          City as string,",
						"          State as string,",
						"          Country as string,",
						"          {Zip code} as string,",
						"          Gender as string,",
						"          Membership as string,",
						"          {Membership 1} as string,",
						"          {Membership 1 Start Date} as string,",
						"          {Membership 1 End Date} as string,",
						"          {Membership 1 Credits} as string,",
						"          {Membership 2} as string,",
						"          {Membership 2 Start Date} as string,",
						"          {Membership 2 End Date} as string,",
						"          {Membership 2 Credits} as string,",
						"          {Membership 3} as string,",
						"          {Membership 3 Start Date} as string,",
						"          {Membership 3 End Date} as string,",
						"          {Membership 3 Credits} as string,",
						"          {Membership 4} as string,",
						"          {Membership 4 Start Date} as string,",
						"          {Membership 4 End Date} as string,",
						"          {Membership 4 Credits} as string,",
						"          Contacts as string,",
						"          {Contacts 1} as string,",
						"          {Contacts 1 Number} as string,",
						"          {Contacts 2} as string,",
						"          {Contacts 2 Number} as string,",
						"          {Contacts 3} as string,",
						"          {Contacts 3 Number} as string,",
						"          Status as string,",
						"          Joined as string,",
						"          {Check-in code} as string,",
						"          {Last Visit} as string,",
						"          {Last Payment} as string,",
						"          {Last Login} as string,",
						"          Notes as string,",
						"          Ranks as string,",
						"          {Ranks 1} as string,",
						"          {Ranks 1 Level} as string,",
						"          {Ranks 1 Date} as string,",
						"          {Ranks 2} as string,",
						"          {Ranks 2 Level} as string,",
						"          {Ranks 2 Date} as string,",
						"          {Ranks 3} as string,",
						"          {Ranks 3 Level} as string,",
						"          {Ranks 3 Date} as string,",
						"          {Ranks 4} as string,",
						"          {Ranks 4 Level} as string,",
						"          {Ranks 4 Date} as string,",
						"          Beruf as string,",
						"          {Erste Zahlung am} as string,",
						"          {Austritts Datum} as string,",
						"          {AHV-Nummer} as string,",
						"          {Familien Account} as string,",
						"          {Grund Kündigung} as string,",
						"          {Start Pausierung} as string,",
						"          {Ende Pausierung} as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     preSQLs:['TRUNCATE TABLE dbo.frozen;'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> TableFrozen"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CSVFilesSource_Members')]",
				"[concat(variables('factoryId'), '/datasets/CSVFilesSource_Visitors')]",
				"[concat(variables('factoryId'), '/datasets/CSVFilesSource_Canceled')]",
				"[concat(variables('factoryId'), '/datasets/CSVFilesSource_Frozen')]",
				"[concat(variables('factoryId'), '/datasets/SQLDatabaseSink_Members')]",
				"[concat(variables('factoryId'), '/datasets/SQLDatabaseSink_Visitors')]",
				"[concat(variables('factoryId'), '/datasets/SQLDatabaseSink_Canceled')]",
				"[concat(variables('factoryId'), '/datasets/SQLDatabaseSink_Frozen')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataToDBPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DataToDBFlow",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "GymDeskToBlobStorage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DataToDBFlow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SourceMembers": {},
									"SourceVisitors": {},
									"SourceCanceled": {},
									"SourceFrozen": {},
									"TableMembers": {},
									"TableVisitors": {},
									"TableCanceled": {},
									"TableFrozen": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "GymDeskToBlobStorage",
						"description": "Time-controlled function",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:15:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "gymdeskSyncTrigger",
							"headers": {},
							"method": "GET"
						},
						"linkedServiceName": {
							"referenceName": "AzureFunctionGymdeskSync",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DataToDBFlow')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureFunctionGymdeskSync')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TimeTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "DataToDBPipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 15,
						"startTime": "2024-08-08T18:07:00",
						"timeZone": "W. Europe Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								18
							],
							"weekDays": [
								"Thursday"
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/DataToDBPipeline')]"
			]
		}
	]
}